body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, input, tr, td, table, figure, mark, button, input, textarea {
    padding: 0;
    margin: 0
}
body, button, input, select, textarea {
    font: 16px/1.62 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
    text-rendering: optimizelegibility
}
img {
    display: block;
    border: 0
}
table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0
}
a {
    color: #666;
    outline: none;
    text-decoration: none
}
ul, li {
    list-style-type: none
}
em, i {
    font-style: normal
}
h2 {
    color: #323A41;
    font-size: 36px;
    padding: 1em 0 5px;
    font-weight: normal
}
h3 {
    margin: 1.2em 0 .6em 0;
    font-size: 28px;
    font-weight: normal;
}
::selection {
    background: #2a79ff;
    color: #b6bcb8;
}
::-moz-selection {
    background: #2a79ff;
    color: #b6bcb8;
}
::-webkit-selection {
    background: #2a79ff;
    color: #b6bcb8;
}
.words {
    width: 100%;
    height: 100%;
}
.words ul {
    margin-left: 3em;
}
.words ul li {
    float: left;
    width: 100px;
    height: 30px;
    padding: 16px;
    font-size: 85%;
    cursor: pointer;
    line-height: 2.45;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #f7f7f7;
}
.container {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0
}
.header {
    height: 80px;
    min-width: 980px;
    border-top: 5px solid #323A41;
    background: -moz-linear-gradient(top, #626D76, #323A41);
    background: -webkit-gradient(linear, center top, center bottom, from(#626D76), to(#323A41));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#626D76, endColorstr=#323A41)";
    background-color: #626D76
}
.header-inner {
    width: 950px;
    margin: 0 auto;
    position: relative
}
.nav {
    position: absolute;
    left: 140px;
    top: 40px;
    list-style: none
}
.nav li {
    float: left
}
.nav li a.active, .nav li a:hover {
    color: #BCD3C4;
    text-decoration: none
}
.nav li a {
    text-shadow: 1px 1px 0 #323A41;
    color: #9CA4AB;
    font-size: 18px;
    line-height: 24px;
    font-family: 'PT Sans';
    padding: 7px 13px 7px 13px
}
.content {
    min-height: 600px;
    z-index: 500
}
.content-inner {
    margin: 0 auto;
    width: 950px;
    position: relative
}
.headline {
    padding: 10px;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: #FFF 0 1px
}
.headline h2 {
    text-align: center;
    border-bottom: none;
    box-shadow: none
}
.headline p {
    margin: 0;
    text-align: center;
    color: #888
}
.footer {
    background-color: #616C75;
    height: 60px;
    min-width: 950px;
}
.footer-inner {
    font-family: Verdana;
    font-size: 14px;
    color: #9CA4AB;
    text-align: center;
    padding-top: 10px
}
p.copyright {
    line-height: 1
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px
}
p a {
    color: #77a0ab
}
.m {
    position: relative;
    width: 100%;
    height: 100%
}
@media screen and (max-width:1000px) {
    .extra {
        display: none;
    }
}
.center {
    text-align: center;
    margin-top: 20px
}
.help-tip {
    text-align: center;
    padding: 60px 0 0
}
.help-tip img {
    display: inline-block
}
.list {
    margin: 20px auto;
    width: 500px
}
.filter-section-page {
    padding: 0 10px;
    text-align: center
}
.filter-section-page .page-btn {
    padding: 10px
}
.filter-section-page span {
    font-size: 14px
}
.filter-section-page em {
    color: #ff4400
}
.filter-section-page .disable {
    color: #ccc;
    cursor: default
}