body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,input,tr,td,table,figure,mark,button,input,textarea {
    padding:0;
    margin:0
}
body {
    font:14px arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    color:#666
}
img {
    display:block;
    border:0
}
table {
    border:0;
    border-collapse:collapse;
    border-spacing:0
}
a {
    color:#666;
    outline:none;
    text-decoration:none
}
ul,li {
    list-style-type:none
}
em,i {
    font-style:normal
}
.container {
    height:100%;
    position:absolute;
    left:0;
    right:0;
    top:0
}
.header {
    position:relative;
    height:80px;
    z-index:500;
    text-align:center;
    line-height:80px;
    font-size:35px;
    border-bottom:1px solid #666666
}
.content {
    position:relative;
    height:300px;
    z-index:500;
}
.footer {
    position:relative;
    height:60px;
    z-index:500;
    text-align:center;
    line-height:60px;
    font-size:35px;
    border-top:1px solid #666666
}
.main {
    position:relative;
    width:100%;
    height:100%
}
.help-tip {
    text-align:center;
    padding:60px 0 0
}
.help-tip img {
    display:inline-block
}
.list {
    margin:20px auto;
    width:500px
}
.filter-section-page {
    padding:0 10px;
    text-align:center
}
.filter-section-page .page-btn {
    padding:10px
}
.filter-section-page span {
    font-size:14px
}
.filter-section-page em {
    color:#ff4400
}
.filter-section-page .disable {
    color:#ccc;
    cursor:default
}