<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ml.stephen.*"/>

    <!-- 引入其他文件 -->
    <import resource="classpath:spring/core/spring-core-common.xml"/>
    <import resource="classpath:spring/core/spring-core-database.xml"/>
    <import resource="classpath:spring/core/spring-core-service.xml"/>

    <!-- 开发配置文件 -->
    <import resource="classpath:spring/config/spring-develop-config.xml"/>

</beans>

