<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <display-name>demo</display-name>

    <!-- 项目模式 -->
    <context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>develop</param-value>
    </context-param>

    <!-- Session start -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <!-- Session end -->

    <!-- Spring 配置 start -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/config/spring-config.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- Spring 配置 end -->

    <!-- SpringMVC核心分发器 start -->
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/config/spring-mvc-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- SpringMVC核心分发器 end -->

</web-app>


